---
import ContactForm from "../../ContactForm.astro";
import Button from "../../Button.astro";
import Review from "../Testimonials/ReviewTwo.astro";

const siteData = Astro.props.siteData || (typeof window !== 'undefined' ? window.siteData : null);

if (!siteData) {
  throw new Error('siteData is required for ContactOne component');
}

const { business } = siteData;
---

<div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8 relative">
  <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-1/2 -z-10 aspect-1155/678 w-144.5 max-w-none -translate-x-1/2 rotate-30 bg-linear-to-tr from-primary to-primary/70 opacity-20 sm:left-[calc(50%-40rem)] sm:w-288.75"></div>
  </div>
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Conseil et devis sur mesure</h2>
    <p class="mt-2 text-lg/8 text-gray-600">Recevez une réponse sous 48h.<br>Contactez-nous soit en remplissant le formulaire ci-après, soit directement par téléphone.</p>
    
    <!-- Bouton d'appel -->
    <div class="mt-8 mb-12">

      <Button 
        variant="primary" 
        size="lg" 
        radius="lg"
        href={`tel:${business.contact.phone}`}
        icon="phone"
      >
        {business.contact.phone_formatted}
      </Button>
      <div class="grid justify-center mt-4">
                        <Review siteData={siteData}/>

      </div>

    </div>
  </div>
 <ContactForm/>
</div>
